---
---

@import "{{ site.theme }}";
h1, h2, h3, h4, h5, h6 {
  color: #ab0707; // Your desired color

  // Add a glow effect with a specific color and spread
  text-shadow: 0 0 4px #ff0000; // Replace #ff0000 with your desired glow color
}

a {
  color: #00cc66; /* Replace with your desired hyperlink color */
}

a:hover {
  color: #33ff99; /* Replace with your desired hyperlink color on hover */
}

body {
  color: #D6D6D6; /* Replace with your desired font color */
}

.github-link {
  display: none;
}

.btn-github {
  display: none !important;
}

#a-title h1 {
  color: #E30035; /* Replace with your desired color code */
}

body {
  font-family: 'serif'; /* Specify the serif font you want to use */
}
