---
---

@import "{{ site.theme }}";
h1, h2, h3, h4, h5, h6 {
  color: #ab0707; // Your desired color
}

a {
  color: #00cc66; /* Replace with your desired hyperlink color */
}

a:hover {
  color: #33ff99; /* Replace with your desired hyperlink color on hover */
}

body {
  color: #D6D6D6; /* Replace with your desired font color */
}

.github-link {
  display: none;
}
